.allBlock
  width: 400px
  height: 745px
  border-radius: 20px
  background: #FFF
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15)
  margin-top: 130px
  .back
    display: flex
    padding: 10px
    margin: 10px
    align-items: center
    transition: 0.6s
    border-radius: 20px
    .p
      color: #878787
      font-family: "Montserrat", sans-serif
      font-size: 24px
      font-style: normal
      font-weight: 400
      line-height: 35px
    &:hover

      cursor: pointer
      border-radius: 20px
      background: rgba(135, 135, 135, 0.20)
  .h3
    color: #000
    font-family: "Montserrat", sans-serif
    font-size: 35px
    font-style: normal
    font-weight: 400
    line-height: normal
    padding-left: 20px
  .typeBlock
    padding-left: 10px
    overflow-y: scroll
    height: 550px
  .genreBlock
    padding-left: 10px
    overflow-y: scroll
    height: 550px
    .genre
      display: flex
      align-items: center
      .checkBox
        cursor: pointer
        width: 35px
        height: 35px
        border: 2px solid #2FE09B
        background-color: #2FE09B
        border-radius: 8px
      .p
        color: #000
        font-family: "Montserrat", sans-serif
        font-size: 24px
        font-style: normal
        font-weight: 400
        line-height: 35px
  .buttons
    padding-left: 20px
    padding-right: 20px
    display: flex
    justify-content: space-between
    .button
      border-radius: 8px
      color: #FFF
      font-family: "Montserrat", sans-serif
      font-size: 16px
      font-style: normal
      font-weight: 400
      line-height: normal
      text-transform: uppercase
      margin-top: 10px


