.allBlock
  width: 400px
  height: 700px
  border-radius: 20px
  background: #FFF
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15)
  margin-top: 130px
  .h3
    color: #000
    font-family: "Montserrat", sans-serif
    font-size: 35px
    font-style: normal
    font-weight: 400
    line-height: normal
    padding-left: 20px
  .genreBlock
    padding-left: 10px
    overflow-y: scroll
    height: 550px
    .genre
      display: flex
      align-items: center
      .checkBox
        cursor: pointer
        width: 35px
        height: 35px
        border: 2px solid #2FE09B
        background-color: #2FE09B
        border-radius: 8px

      .p
        color: #000
        font-family: "Montserrat", sans-serif
        font-size: 24px
        font-style: normal
        font-weight: 400
        line-height: 35px

  .buttons
    padding-left: 20px
    padding-right: 20px
    display: flex
    justify-content: space-between
    .button
      border-radius: 8px
      color: #FFF
      font-family: "Montserrat", sans-serif
      font-size: 16px
      font-style: normal
      font-weight: 400
      line-height: normal
      text-transform: uppercase
      margin-top: 10px


