.inputBlock {
  position: relative;
}
.inputBlock .input {
  width: 342px;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #878787;
  background: #FFF;
  outline: none;
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 45px;
}
.inputBlock .input:focus {
  border-color: #AD02E0;
}
.inputBlock .search {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}