.allBlock {
  width: 100%;
  background: #fff;
  height: 400px;
}
.allBlock .footerBlock {
  padding-top: 30px;
  width: 100%;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}
.allBlock .footerBlock .logoBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.allBlock .footerBlock .logoBlock .logoText {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
}
.allBlock .footerBlock .logoBlock .logoText .h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.allBlock .footerBlock .logoBlock .logoText .p {
  color: #878787;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.allBlock .footerBlock .mangoLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.allBlock .footerBlock .mangoLinks .link {
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.allBlock .footerBlock .mangoLinks .link .p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.allBlock .footerBlock .mangoLinks .link .p:hover {
  cursor: pointer;
  color: #AD02E0;
}
.allBlock .footerBottomBlock {
  border-top: 1px solid var(--black-600, #BBB);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto;
}
.allBlock .footerBottomBlock .ul {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.allBlock .footerBottomBlock .ul .p {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.allBlock .footerBottomBlock .ul .a {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
}